:root {
  --background: #f4f4f4;
  --foreground: #4a4a4a;
  --primary: #1fa548;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b2b2b;
    --foreground: #c0c5ce;
    --primary: #78dd90;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-fira-code), monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
